main{
    height: 640px;
    width: 360px;
    margin: 50px auto;
    border: 3px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
    background-color: #ccffff;
    background-color: black;
}
#result{
    position: relative;
    color: white;
    font-size: 50px;
    font-weight: 600;
    height: 100px;
    margin: 0 auto;
    top: 130px;
    width: 90%;
    background-color: black;
    border: none;
    text-align: right;
    line-height: 100px;
}
.process{
    position: relative;
    top: 160px;
    left: 10px;
    width: 100%;
    height: fit-content;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
}
.button{
    color: black;
    font-size: 25px;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    font-weight: 600;
    background-color: #d9d9d9;
    cursor: pointer;
    user-select: none;
}
.number{
    background-color: #404040;
    color: white;
}
.math{
    background-color: #ff9933;
    color: white;
}